*{
	margin: 0px;
	padding: 0px;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
img{
	display: block;
	max-width: 100%;
}


header {
	width: 100%;
	float: left;
	background-color: #f6f9f9;
}
.logo{
	padding: 30px 0px;
}


.banner{
	width: 100%;
	float: left;
	background: url(../img/banner.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner-content {
	width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 160px;
}
.banner-content h2{
	color: #ffff;
    font-family: 'Lato', sans-serif;
    font-size: 115px;
}
.underline {
	border-bottom: 2px solid #15a4fa;
    display: block;
    width: 90%;
    margin: 10px auto;
}
.banner-content p{
	color: #ffff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 30px 0px;	
}
.btn{
    background-color: transparent;
    color: #ffff;
    padding: 15px 30px;
    margin: 50px 0px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #999999;
    transition: 0.4s;
}
.btn:hover{
	border: 1px solid #15a4fa;
	border-radius: 4px;
}
.fa.fa-angle-down {
	color: #ffff;
    font-size: 35px;
    margin: 50px 0px;
    padding-bottom: 25px;
}


.about {
	width: 100%;
	float: left;
	background-color: #f6f9f9;
}
.about-content{
	text-align: center;
    padding: 80px 0px;
    font-family: 'Lato', sans-serif;
}
.about-content span{
	font-size: 40px;
    color: #2d3950;
}
.about-content p{
	font-size: 20px;
    margin-top: 30px;
    color: #999999;	
    line-height: 30px;
}


.service {
	width: 100%;
	float: left;
	background-color: #ffff;
	padding: 85px 0px;
}
.service-detail {
	text-align: center;
    font-family: 'Lato', sans-serif;
}
.service-box{
	width: 33.33%;
    float: left;
}
.inner-box{
	width: 100px;
    margin: 0 auto;
}
.left{
	width: 50%;
	padding: 50px 0px;
    background:#48baff; 
    float: left;
}
.right{
	width: 50%;
	padding: 50px 0px;
    background:#5fc3ff; 
    float: left;
}
.service-box h3 {
	margin-top: 130px;
	color: #2d3950;
}
.service-box p {
	margin-top: 12px;
    padding: 0px 23px;
    color: #999999;
}
.fa.fa-mobile {
    font-size: 75px;
    position: absolute;
    margin: 13px -66px;
    color: #ffff;
}
.fa.fa-paper-plane{
	font-size: 45px;
    position: absolute;
    margin: 25px -78px;
    color: #ffff;
}
.fa.fa-bullhorn{
	font-size: 55px;
    position: absolute;
    margin: 20px -78px;
    color: #ffff;
}

.work{
	width: 100%;
	float: left;
	background-color: #f6f9f9;
	padding: 80px 0px;
}
.work-head{
	text-align: center;
    padding-bottom: 45px;
    font-family: 'Lato', sans-serif;
}
.work-head span{
	font-size: 41px;
    color: #2d3950;
}
.work-head p{
	font-size: 15px;
    margin-top: 10px;
    color: #999999;	
}
.work-content img{
	width: 31%;
	float: left;
	padding: 13px;
}

.message {
	width: 100%;
	float: left;
	background: url(../img/contact.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 70px 0px;
}
.message-head{
	text-align: center;
    padding: 10px 0px;
    font-family: 'Lato', sans-serif;
}
.message-head span{
	font-size: 41px;
    color: #ffff;
}
.message-head p{
	font-size: 15px;
    margin-top: 10px;
    color: #999999;	
}
.message-box {
	width: 600px;
	margin: 0 auto;
	text-align: center;
    font-family: 'Lato', sans-serif;
}
form {
	margin: 45px 0px;
}
.form-control{
	width: 85%;
	background: transparent;
	padding: 19px 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid #999999;
	color: #ffff;
	font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.mssg-control{
	width: 85%;
    display: block;
    margin: 0 auto;
    background: transparent;
    padding: 19px 15px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #999999;
    color: #ffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    resize: none;
    height: 120px;
}
.mssg-checkbox{
	width: 50%;
	float: left;
}
.mssg-btn{
	width: 50%;
	float: left;
}
.check-box{
	float: left;
    margin: 30px 0px 0px 30px;
}
.check-text{
	float: left;
    color: #ffff;
    margin: 25px 0px 0px 10px;
}
.send-btn{
	float: right;
    background-color: transparent;
    color: #ffff;
    padding: 12px 42px;
    margin: 10px 28px 0px 0px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #999999;
    transition: 0.4s;
}
.send-btn:hover{
	border: 1px solid #15a4fa;
	border-radius: 4px;
}


footer {
	width: 100%;
	float: left;
	background-color: #f6f9f9;
	padding: 8px 0px;
}
.copyright{
	width: 50%;
	float: left;
	padding: 35px 0px;
}
.copyright p{
	font-family: 'Lato', sans-serif;
	color: #999999;
}
.social-icon{
	width: 50%;
	float: left;
}
.social-icon ul{
	list-style: none;
	text-align: right;
}
.social-icon ul li{
	display: inline-block;
	margin: 20px 4px;
}
.social-icon ul li a{
	font-size: 18px;
	text-decoration: none;
}
.fa.fa-facebook{
	padding: 15px 18px;
	background-color: #283890;	
	color: #ffffff;
	border-radius: 3px;
	transition: 0.4s;
}
.fa.fa-facebook:hover{
	box-shadow: 1px 2px 4px 0px black;
}
.fa.fa-twitter{
	padding: 15px 15px;
	background-color: #15a4fa;
	color: #ffffff;
	border-radius: 3px;
	transition: 0.4s;
}
.fa.fa-twitter:hover{
	box-shadow: 1px 2px 4px 0px black;
}
.fa.fa-google-plus{
	padding: 15px 13px;
	background-color: #d04047;
	color: #ffffff;
	border-radius: 3px;
	transition: 0.4s;
}
.fa.fa-google-plus:hover{
	box-shadow: 1px 2px 4px 0px black;
}
.fa.fa-linkedin{
	padding: 15px 16px;
	background-color: #0f5d9a;
	color: #ffffff;
	border-radius: 3px;
	transition: 0.4s;
}
.fa.fa-linkedin:hover{
	box-shadow: 1px 2px 4px 0px black;
}
